@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;600&display=swap");

body {
    font-family: "Spartan", sans-serif;
}

/* ---------------------Navbar-------------- */

.navbar-nav {
  margin-top: 57px;
  margin-right: 20px;
}

.navbar img {
  width: 180px;
  height: 138px;
  margin-right: 20px;
  margin-left: 10px;
}

.nav-item.nav-link {
  font-weight: 400;
  font-size: 18px;
  margin-top: 25px;
}

.navbar-toggler {
  margin-left: 40px;
  margin-top: 65px;
}

/* ---------------------Carousel------------ */

.carousel {
  max-width: 800px;
}

/* -------------Sign up Newsletter---------- */

.newsletter {
  margin-top: 30px;
}

.newsletter p {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  padding: 5px;
  width: 770px;
}

.sign-up {
  margin-top: 10px;
}

.btn-primary {
  color: #000000;
  background-color: #fff;
  border-color: #000000;
}

.btn-primary:hover {
  color: #fff;
  background-color: #d05529;
}

/* -------------Social Media Icons---------- */

.social-icons li a i {
  width: 30px;
  height: 30px;
  color: #000000;
  font-size: 25px;
  padding: 10px 20px;
  margin-top: 30px;
}

.social-icons li a i:hover {
  color: #d05529;
}

/* -------------Photo Gallery---------- */

.photogallery h2,
p {
  text-align: center;
  color: #000000;
  line-height: 2;
}

.caption p {
  padding-top: 10px;
  text-decoration: none;
}

.thumbnail a {
  text-decoration-color: #000000;
}

/* -------------Art Gallery---------- */

.artgallery h2,
p {
  text-align: center;
  color: #000000;
  line-height: 2;
}
/* -------------About Section---------- */

h3 {
  text-align: center;
  background-color: #1289a9;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.img-fluid {
  width: 400px;
  height: auto;
  padding-bottom: 10px;
}

/* -------------Contact Form---------- */

.form-contact {
  color: #fff;
  max-width: 400px;
  padding: 20px;
  margin-bottom: 20px;
}

.contact-header {
  padding: 10px;
  margin-bottom: 10px;
}

.contact-header h2 {
  text-align: center;
}

.border {
  padding: 20px;
  border-radius: 10px;
  background-color: #1289a9;
}

/* -------------Media Queries ---------- */
@media (max-width: 320px) {
  .navbar img {
    height: 103.5px;
    width: 135px;
  }
}