@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;600&display=swap');

/* ---------------------Navbar-------------- */

.navbar-nav{
    margin-top: 57px;
}

.navbar img {
   width: 180px;
   height: 138px;
   margin-right: 20px;
   margin-left: 10px;
   }

.nav-item.nav-link {
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 25px;
}

.navbar-toggler {
    margin-left: 28px;
    margin-top: 65px;
}

/* ---------------------Carousel------------ */

.carousel {
    max-width: 800px;
}

/* -------------Sign up Newsletter---------- */

.newsletter {
    margin-top: 30px;
    font-family: 'Spartan', sans-serif;
}

.newsletter p {
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    width: 770px;
}

.sign-up {
    margin-top: 10px;
}

/* -------------Social Media Icons---------- */

.social-icons li a i {
    width: 30px;
    height: 30px;
    color: #000000;
    font-size: 25px;
    padding: 10px 20px;
    margin-top: 30px;
}

/* -------------Photo Gallery---------- */

.photogallery h2, p {
    font-family: 'Spartan', sans-serif;
    text-align: center;
    color: #000000;
}

.caption p {
    padding-top: 10px;
}

/* -------------Art Gallery---------- */

.artgallery h2, p {
    font-family: 'Spartan', sans-serif;
    text-align: center;
    color: #000000;
}

/* -------------Contact Form---------- */

.form-contact {
    font-family: 'Spartan', sans-serif;
    max-width: 400px;
    padding: 20px;
    margin-bottom: 20px;
}

.contact-header {
    font-family: 'Spartan', sans-serif;
    padding: 10px;
    margin-bottom: 10px;
}

.contact-header h2 {
    text-align: center;
}

.border {
    padding: 20px;
    border-radius: 10px;
    background-color: #f3ae55;
}

/* -------------About Section---------- */

.about h2, p {
    font-family: 'Spartan', sans-serif;
    justify-content: center;
    text-align: center;
}

.services h3, p {
    font-family: 'Spartan', sans-serif;
    justify-content: center;
    text-align: center;
}

.img-fluid {
    width: 400px;
    height: auto;
    padding-bottom: 10px;
}
