@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;600&display=swap');

/* ---------------------Navbar-------------- */
.navbar img {
   width: 180px;
   height: 138px;
   margin-right: 80px;
   }

.nav-item.nav-link {
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 80px;
}

/* ---------------------Carousel------------ */

.carousel {
    max-width: 900px;
}

/* -------------Sign up Newsletter---------- */

.newsletter {
    padding-top: 20px;
    font-family: 'Spartan', sans-serif;
}

.newsletter p {
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    border-style: double;
    width: 870px;
    background-color: #f3ae55;
}

/* -------------Social Media Icons---------- */

.social-icons li a i {
    width: 30px;
    height: 30px;
    color: #000000;
    font-size: 25px;
    padding: 10px 20px;
}

/* -------------Photo Gallery---------- */

.photogallery h2, p {
    font-family: 'Spartan', sans-serif;
    text-align: center;
    color: #000000;
}

.caption p {
    padding-top: 10px;
}

/* -------------Art Gallery---------- */

.artgallery h2, p {
    font-family: 'Spartan', sans-serif;
    text-align: center;
    color: #000000;
}

/* -------------Contact Form---------- */

.form-contact {
    font-family: 'Spartan', sans-serif;
}

.contact-header {
    font-family: 'Spartan', sans-serif;
    padding: 10px;
}

.contact-header h2 {
    text-align: center;
}

/* -------------About Section---------- */

.about h2, p {
    font-family: 'Spartan', sans-serif;
    justify-content: center;
}

.about h2 {
    text-align: center;
}

.services h2, h3, p {
    font-family: 'Spartan', sans-serif;
    justify-content: center;
}

.services h2, h3 {
    text-align: center;
}

.img-fluid {
    width: 400px;
    height: auto;
    padding-bottom: 10px;
}

